api_flows.json
[{"id":"7aa0e0617b0fb74a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"49870d21142872b3","type":"function","z":"7aa0e0617b0fb74a","name":"PreToken","func":"\nmsg.url = \"https://developers.zomato.com/api/v2.1/locations?query=\"+str(location)\nmsg.payload={}\nmsg.headers = {\n    'user-key': 'dc4f13f34b2754f1b044d01e36008001',\n    'Cookie': 'csrf=51462e399f95b97899976ecc68c68156; fbcity=6; fbtrack=89760581a99470a8f0746645d60a5fbb; zl=en; AWSALBTG=r0CT0JpO2nt273z9Ma3AULTg3NU6YD/5uq8Uti4Tn/C3jXjEzO+oNr6zewE2UvjXMAjdu4iI1UWhTM42pXp3KCFwOm7hLXyvWuEV692tQD39/SbdGhI37W6mgm2s+Ca4ZgDdvqP6l0i0341jTSD6vLBG+kdLKYNbPlIl++J38ZACKVP4W7I=; AWSALBTGCORS=r0CT0JpO2nt273z9Ma3AULTg3NU6YD/5uq8Uti4Tn/C3jXjEzO+oNr6zewE2UvjXMAjdu4iI1UWhTM42pXp3KCFwOm7hLXyvWuEV692tQD39/SbdGhI37W6mgm2s+Ca4ZgDdvqP6l0i0341jTSD6vLBG+kdLKYNbPlIl++J38ZACKVP4W7I='\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":180,"wires":[["b68ddad5bcea4daf"]]},{"id":"18ef714cbd944a90","type":"inject","z":"7aa0e0617b0fb74a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":80,"wires":[["49870d21142872b3"]]},{"id":"b68ddad5bcea4daf","type":"http request","z":"7aa0e0617b0fb74a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":250,"y":240,"wires":[["ab380d9049d88b67"]]},{"id":"c084a529c6c432ae","type":"debug","z":"7aa0e0617b0fb74a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]},{"id":"ab380d9049d88b67","type":"function","z":"7aa0e0617b0fb74a","name":"","func":"var lat = msg.payload.location_suggestions[0].latitude\nvar long = msg.payload.location_suggestions[0].longitude\n\nmsg.url = 'https://developers.zomato.com/api/v2.1/' + 'search?q='+ cuisine  + '&lat=' +lat+ '&lon=' + long + '&sort=rating'\nmsg.payload={}\nmsg.headers = {\n\t'user-key': 'dc4f13f34b2754f1b044d01e36008001',\n\t'Cookie': 'csrf=d00b76e48661ec0f06d04ba4a42da770; fbcity=3; fbtrack=89760581a99470a8f0746645d60a5fbb; zl=en; AWSALBTG=tE5wx6DJU1zoxIql1RLb+KB67CVEyv/ToMWINXbHWvkbdWZeFq4HFgkzr7m/aTwtCrJrgzOqH6+0MOBlE7W0T/X8ZRtbt3pcWJNXFIW3eBTqPhRapwvOTm8UKZEu/5gQzuMofN3qj4iB5sVpqzJCj7R4qG8lPZQBGa83nHDQPd7Ba3bUGHQ=; AWSALBTGCORS=tE5wx6DJU1zoxIql1RLb+KB67CVEyv/ToMWINXbHWvkbdWZeFq4HFgkzr7m/aTwtCrJrgzOqH6+0MOBlE7W0T/X8ZRtbt3pcWJNXFIW3eBTqPhRapwvOTm8UKZEu/5gQzuMofN3qj4iB5sVpqzJCj7R4qG8lPZQBGa83nHDQPd7Ba3bUGHQ='\n\t}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":300,"wires":[["1e6e84090c98d372"]]},{"id":"1e6e84090c98d372","type":"http request","z":"7aa0e0617b0fb74a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":340,"wires":[["c084a529c6c432ae"]]}]