bot_flows.json
[{"id":"1fb6bfc3.952e6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b6cf0e2e.cdddf","type":"watson-conversation-v1","z":"1fb6bfc3.952e6","name":"Restaurant Bot","workspaceid":"d36b0830-7270-4f26-832d-bf65064fb7d9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/e73faf52-34b2-434d-910f-393085f1f78d","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["7b526240.8ec4ec"]]},{"id":"5ff3d59b.bf47dc","type":"inject","z":"1fb6bfc3.952e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["b6cf0e2e.cdddf"]]},{"id":"4a491dc.2bd92e4","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"7b526240.8ec4ec","type":"function","z":"1fb6bfc3.952e6","name":"","func":"global.set(\"location\",msg.payload.ask_location)\nglobal.set(\"cuisine\",msg.payload.ask_cuisine)\n\nif(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\n\nif(msg.payload.output.generic[0].response_type==\"option\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\n\nelse{\n    msg.url=\"https://blog-assets.freshworks.com/freshdesk/wp-content/uploads/2020/11/05183245/10402_VA_Chatbot_Blogcover-3.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":140,"wires":[["4a491dc.2bd92e4","7cf47703.64b998","1093aee1.594d31","7e888826.604758"]]},{"id":"1377aad9.ef5595","type":"ui_form","z":"1fb6bfc3.952e6","name":"","label":"","group":"853e071f.cf0ef8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":230,"y":300,"wires":[["e1d7c714.029f68"]]},{"id":"e1d7c714.029f68","type":"function","z":"1fb6bfc3.952e6","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":320,"wires":[["b6cf0e2e.cdddf","1c5319de.c9c7d6"]]},{"id":"1c5319de.c9c7d6","type":"ui_text","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","order":3,"width":"10","height":"3","name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","className":"","x":680,"y":380,"wires":[]},{"id":"7cf47703.64b998","type":"ui_text","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","order":4,"width":"10","height":"3","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","className":"","x":790,"y":220,"wires":[]},{"id":"1093aee1.594d31","type":"ui_audio","z":"1fb6bfc3.952e6","name":"","group":"853e071f.cf0ef8","voice":"en-US","always":"","x":760,"y":60,"wires":[]},{"id":"7e888826.604758","type":"ui_template","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":840,"y":100,"wires":[[]]},{"id":"853e071f.cf0ef8","type":"ui_group","name":"Chatbot","tab":"24b30f7d.53427","order":1,"disp":true,"width":"10","collapse":false},{"id":"24b30f7d.53427","type":"ui_tab","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]