homedelivery.json
[{"id":"5302859f4c35cf47","type":"tab","label":"Home Delivery","disabled":false,"info":"","env":[]},{"id":"07d857f667535a3e","type":"ui_form","z":"5302859f4c35cf47","name":"Home Delivery","label":"","group":"cc4c0436cf4ef1f3","order":3,"width":0,"height":0,"options":[{"label":"Enter your full name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Mobile Number","value":"mobile","type":"number","required":true,"rows":null},{"label":"Enter Food Item","value":"food","type":"text","required":true,"rows":null},{"label":"Enter Quantity","value":"quantity","type":"number","required":true,"rows":null},{"label":"Enter Address","value":"address","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","mobile":"","food":"","quantity":"","address":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":200,"y":240,"wires":[["19557d62a3619df8","4b5d3facf8697004"]]},{"id":"1fb49c787fd37fa9","type":"cloudant out","z":"5302859f4c35cf47","name":"","cloudant":"","database":"homedel","service":"node-red-pfubk-2021--cloudant-1639299626975-22685","payonly":true,"operation":"insert","x":740,"y":140,"wires":[]},{"id":"19557d62a3619df8","type":"function","z":"5302859f4c35cf47","name":"","func":"msg.payload={\n    _id: msg.payload.email,\n    Name: msg.payload.name,\n    Email: msg.payload.email,\n    Mobile: msg.payload.mobile,\n    Food: msg.payload.food,\n    Quantity: msg.payload.quantity,\n    Address:msg.payload.address\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["1fb49c787fd37fa9"]]},{"id":"dbbc784617cda301","type":"ui_text","z":"5302859f4c35cf47","group":"cc4c0436cf4ef1f3","order":4,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":360,"wires":[]},{"id":"4b5d3facf8697004","type":"function","z":"5302859f4c35cf47","name":"","func":"msg.payload = \"Hello \"+msg.payload.name+\". Your order is prepared\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["dbbc784617cda301"]]},{"id":"cc4c0436cf4ef1f3","type":"ui_group","name":"Delivery","tab":"4e2421fabb97bf82","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4e2421fabb97bf82","type":"ui_tab","name":"Home Delivery","icon":"dashboard","disabled":false,"hidden":false}]