new.json
[{"id":"7aa0e0617b0fb74a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"49870d21142872b3","type":"function","z":"7aa0e0617b0fb74a","name":"PreToken","func":"\nmsg.url = \"https://developers.zomato.com/api/v2.1/locations?query=\"+str(location)\nmsg.payload={}\nmsg.headers = {\n    'user-key': 'dc4f13f34b2754f1b044d01e36008001',\n    'Cookie': 'csrf=51462e399f95b97899976ecc68c68156; fbcity=6; fbtrack=89760581a99470a8f0746645d60a5fbb; zl=en; AWSALBTG=r0CT0JpO2nt273z9Ma3AULTg3NU6YD/5uq8Uti4Tn/C3jXjEzO+oNr6zewE2UvjXMAjdu4iI1UWhTM42pXp3KCFwOm7hLXyvWuEV692tQD39/SbdGhI37W6mgm2s+Ca4ZgDdvqP6l0i0341jTSD6vLBG+kdLKYNbPlIl++J38ZACKVP4W7I=; AWSALBTGCORS=r0CT0JpO2nt273z9Ma3AULTg3NU6YD/5uq8Uti4Tn/C3jXjEzO+oNr6zewE2UvjXMAjdu4iI1UWhTM42pXp3KCFwOm7hLXyvWuEV692tQD39/SbdGhI37W6mgm2s+Ca4ZgDdvqP6l0i0341jTSD6vLBG+kdLKYNbPlIl++J38ZACKVP4W7I='\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":180,"wires":[["b68ddad5bcea4daf"]]},{"id":"18ef714cbd944a90","type":"inject","z":"7aa0e0617b0fb74a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":80,"wires":[["49870d21142872b3"]]},{"id":"b68ddad5bcea4daf","type":"http request","z":"7aa0e0617b0fb74a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":250,"y":240,"wires":[["ab380d9049d88b67"]]},{"id":"c084a529c6c432ae","type":"debug","z":"7aa0e0617b0fb74a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]},{"id":"ab380d9049d88b67","type":"function","z":"7aa0e0617b0fb74a","name":"","func":"var lat = msg.payload.location_suggestions[0].latitude\nvar long = msg.payload.location_suggestions[0].longitude\n\nmsg.url = 'https://developers.zomato.com/api/v2.1/' + 'search?q='+ cuisine  + '&lat=' +lat+ '&lon=' + long + '&sort=rating'\nmsg.payload={}\nmsg.headers = {\n\t'user-key': 'dc4f13f34b2754f1b044d01e36008001',\n\t'Cookie': 'csrf=d00b76e48661ec0f06d04ba4a42da770; fbcity=3; fbtrack=89760581a99470a8f0746645d60a5fbb; zl=en; AWSALBTG=tE5wx6DJU1zoxIql1RLb+KB67CVEyv/ToMWINXbHWvkbdWZeFq4HFgkzr7m/aTwtCrJrgzOqH6+0MOBlE7W0T/X8ZRtbt3pcWJNXFIW3eBTqPhRapwvOTm8UKZEu/5gQzuMofN3qj4iB5sVpqzJCj7R4qG8lPZQBGa83nHDQPd7Ba3bUGHQ=; AWSALBTGCORS=tE5wx6DJU1zoxIql1RLb+KB67CVEyv/ToMWINXbHWvkbdWZeFq4HFgkzr7m/aTwtCrJrgzOqH6+0MOBlE7W0T/X8ZRtbt3pcWJNXFIW3eBTqPhRapwvOTm8UKZEu/5gQzuMofN3qj4iB5sVpqzJCj7R4qG8lPZQBGa83nHDQPd7Ba3bUGHQ='\n\t}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":300,"wires":[["1e6e84090c98d372"]]},{"id":"1e6e84090c98d372","type":"http request","z":"7aa0e0617b0fb74a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":340,"wires":[["c084a529c6c432ae"]]}]
[{"id":"1fb6bfc3.952e6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b6cf0e2e.cdddf","type":"watson-conversation-v1","z":"1fb6bfc3.952e6","name":"Restaurant Bot","workspaceid":"d36b0830-7270-4f26-832d-bf65064fb7d9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/e73faf52-34b2-434d-910f-393085f1f78d","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["7b526240.8ec4ec"]]},{"id":"5ff3d59b.bf47dc","type":"inject","z":"1fb6bfc3.952e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["b6cf0e2e.cdddf"]]},{"id":"4a491dc.2bd92e4","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"7b526240.8ec4ec","type":"function","z":"1fb6bfc3.952e6","name":"","func":"global.set(\"location\",msg.payload.ask_location)\nglobal.set(\"cuisine\",msg.payload.ask_cuisine)\n\nif(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\n\nif(msg.payload.output.generic[0].response_type==\"option\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\n\nelse{\n    msg.url=\"https://blog-assets.freshworks.com/freshdesk/wp-content/uploads/2020/11/05183245/10402_VA_Chatbot_Blogcover-3.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":140,"wires":[["4a491dc.2bd92e4","7cf47703.64b998","1093aee1.594d31","7e888826.604758"]]},{"id":"1377aad9.ef5595","type":"ui_form","z":"1fb6bfc3.952e6","name":"","label":"","group":"853e071f.cf0ef8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":230,"y":300,"wires":[["e1d7c714.029f68"]]},{"id":"e1d7c714.029f68","type":"function","z":"1fb6bfc3.952e6","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":320,"wires":[["b6cf0e2e.cdddf","1c5319de.c9c7d6"]]},{"id":"1c5319de.c9c7d6","type":"ui_text","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","order":3,"width":"10","height":"3","name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","className":"","x":680,"y":380,"wires":[]},{"id":"7cf47703.64b998","type":"ui_text","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","order":4,"width":"10","height":"3","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","className":"","x":790,"y":220,"wires":[]},{"id":"1093aee1.594d31","type":"ui_audio","z":"1fb6bfc3.952e6","name":"","group":"853e071f.cf0ef8","voice":"en-US","always":"","x":760,"y":60,"wires":[]},{"id":"7e888826.604758","type":"ui_template","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":840,"y":100,"wires":[[]]},{"id":"853e071f.cf0ef8","type":"ui_group","name":"Chatbot","tab":"24b30f7d.53427","order":1,"disp":true,"width":"10","collapse":false},{"id":"24b30f7d.53427","type":"ui_tab","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]