res_recom_bot.json
[{"id":"1fb6bfc3.952e6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b6cf0e2e.cdddf","type":"watson-conversation-v1","z":"1fb6bfc3.952e6","name":"Restaurant Bot","workspaceid":"d36b0830-7270-4f26-832d-bf65064fb7d9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/e73faf52-34b2-434d-910f-393085f1f78d","timeout":"","optout-learning":false,"x":500,"y":40,"wires":[["4423b736ae906803","86bd469ed603f5af"]]},{"id":"5ff3d59b.bf47dc","type":"inject","z":"1fb6bfc3.952e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":90,"y":60,"wires":[["b6cf0e2e.cdddf"]]},{"id":"4a491dc.2bd92e4","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":520,"wires":[]},{"id":"7b526240.8ec4ec","type":"function","z":"1fb6bfc3.952e6","name":"","func":"\nif(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\n\nif(msg.payload.output.generic[0].response_type==\"option\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\n\nelse{\n    msg.url=\"https://blog-assets.freshworks.com/freshdesk/wp-content/uploads/2020/11/05183245/10402_VA_Chatbot_Blogcover-3.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":160,"wires":[["7cf47703.64b998","1093aee1.594d31","7e888826.604758","ae5555a8568367e0"]]},{"id":"1377aad9.ef5595","type":"ui_form","z":"1fb6bfc3.952e6","name":"","label":"","group":"853e071f.cf0ef8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":70,"y":180,"wires":[["e1d7c714.029f68"]]},{"id":"e1d7c714.029f68","type":"function","z":"1fb6bfc3.952e6","name":"","func":"global.set(\"location\",msg.payload.ask_location)\nglobal.set(\"cuisine\",msg.payload.ask_cuisine)\n\nmsg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":220,"wires":[["b6cf0e2e.cdddf","1c5319de.c9c7d6"]]},{"id":"1c5319de.c9c7d6","type":"ui_text","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","order":3,"width":"10","height":"3","name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","className":"","x":1030,"y":280,"wires":[]},{"id":"7cf47703.64b998","type":"ui_text","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","order":4,"width":"9","height":"9","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","className":"","x":1210,"y":240,"wires":[]},{"id":"1093aee1.594d31","type":"ui_audio","z":"1fb6bfc3.952e6","name":"","group":"853e071f.cf0ef8","voice":"en-US","always":"","x":1200,"y":40,"wires":[]},{"id":"7e888826.604758","type":"ui_template","z":"1fb6bfc3.952e6","group":"853e071f.cf0ef8","name":"","order":6,"width":"9","height":"9","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1200,"y":120,"wires":[[]]},{"id":"4859591ffa076c9f","type":"function","z":"1fb6bfc3.952e6","name":"PreToken","func":"\nmsg.url = \"https://developers.zomato.com/api/v2.1/locations?query=\"+global.get(\"location\")\nmsg.payload={}\nmsg.headers = {\n    'user-key': 'dc4f13f34b2754f1b044d01e36008001',\n    'Cookie': 'csrf=51462e399f95b97899976ecc68c68156; fbcity=6; fbtrack=89760581a99470a8f0746645d60a5fbb; zl=en; AWSALBTG=r0CT0JpO2nt273z9Ma3AULTg3NU6YD/5uq8Uti4Tn/C3jXjEzO+oNr6zewE2UvjXMAjdu4iI1UWhTM42pXp3KCFwOm7hLXyvWuEV692tQD39/SbdGhI37W6mgm2s+Ca4ZgDdvqP6l0i0341jTSD6vLBG+kdLKYNbPlIl++J38ZACKVP4W7I=; AWSALBTGCORS=r0CT0JpO2nt273z9Ma3AULTg3NU6YD/5uq8Uti4Tn/C3jXjEzO+oNr6zewE2UvjXMAjdu4iI1UWhTM42pXp3KCFwOm7hLXyvWuEV692tQD39/SbdGhI37W6mgm2s+Ca4ZgDdvqP6l0i0341jTSD6vLBG+kdLKYNbPlIl++J38ZACKVP4W7I='\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":380,"wires":[["6520361cf394f316"]]},{"id":"4123af5c48828f66","type":"inject","z":"1fb6bfc3.952e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":1100,"y":520,"wires":[[]]},{"id":"6520361cf394f316","type":"http request","z":"1fb6bfc3.952e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":490,"y":420,"wires":[["14a219835615374e"]]},{"id":"ae5555a8568367e0","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":180,"wires":[]},{"id":"14a219835615374e","type":"function","z":"1fb6bfc3.952e6","name":"","func":"\n\nvar lat = msg.payload.location_suggestions[0].latitude\nvar long = msg.payload.location_suggestions[0].longitude\n\nmsg.url = 'https://developers.zomato.com/api/v2.1/' + 'search?q='+ global.get(\"cuisine\")  + '&lat=' +lat+ '&lon=' + long + '&sort=rating'\nmsg.payload={}\nmsg.headers = {\n\t'user-key': 'dc4f13f34b2754f1b044d01e36008001',\n\t'Cookie': 'csrf=d00b76e48661ec0f06d04ba4a42da770; fbcity=3; fbtrack=89760581a99470a8f0746645d60a5fbb; zl=en; AWSALBTG=tE5wx6DJU1zoxIql1RLb+KB67CVEyv/ToMWINXbHWvkbdWZeFq4HFgkzr7m/aTwtCrJrgzOqH6+0MOBlE7W0T/X8ZRtbt3pcWJNXFIW3eBTqPhRapwvOTm8UKZEu/5gQzuMofN3qj4iB5sVpqzJCj7R4qG8lPZQBGa83nHDQPd7Ba3bUGHQ=; AWSALBTGCORS=tE5wx6DJU1zoxIql1RLb+KB67CVEyv/ToMWINXbHWvkbdWZeFq4HFgkzr7m/aTwtCrJrgzOqH6+0MOBlE7W0T/X8ZRtbt3pcWJNXFIW3eBTqPhRapwvOTm8UKZEu/5gQzuMofN3qj4iB5sVpqzJCj7R4qG8lPZQBGa83nHDQPd7Ba3bUGHQ='\n\t}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["a0679a6fd2015465"]]},{"id":"a0679a6fd2015465","type":"http request","z":"1fb6bfc3.952e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1010,"y":400,"wires":[["7b526240.8ec4ec"]]},{"id":"4423b736ae906803","type":"function","z":"1fb6bfc3.952e6","name":"","func":"if(msg.payload.input.text=='Chinese' || msg.payload.input.text=='African' || msg.payload.input.text=='italian')\n{\n    global.set(\"cuisine\",msg.payload.input.text)\n}\nelse if(msg.payload.input.text=='Hyderabad' || msg.payload.input.text=='Delhi')\n{\n    global.set(\"location\",msg.payload.input.text)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":100,"wires":[["7b526240.8ec4ec","4859591ffa076c9f"]]},{"id":"86bd469ed603f5af","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":20,"wires":[]},{"id":"b931e130c369da5a","type":"function","z":"1fb6bfc3.952e6","name":"","func":"msg.payload = global.get('location')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":440,"wires":[["8d4f4466e9dd3622"]]},{"id":"f54f89bccbf7cf80","type":"inject","z":"1fb6bfc3.952e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":420,"wires":[["b931e130c369da5a"]]},{"id":"8d4f4466e9dd3622","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":540,"wires":[]},{"id":"358fc12ebcf7775f","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":420,"wires":[]},{"id":"fa03387fe1479ac1","type":"function","z":"1fb6bfc3.952e6","name":"","func":"msg.payload[0]=msg.payload.restaurants[0].restaurant.name\nmsg.payload[1]=msg.payload.restaurants[1].restaurant.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":340,"wires":[[]]},{"id":"3873240447b91831","type":"debug","z":"1fb6bfc3.952e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":340,"wires":[]},{"id":"853e071f.cf0ef8","type":"ui_group","name":"Chatbot","tab":"24b30f7d.53427","order":1,"disp":true,"width":"10","collapse":false},{"id":"24b30f7d.53427","type":"ui_tab","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]