table_booking.json
[{"id":"66457bfd12437a61","type":"tab","label":"Table Booking","disabled":false,"info":"","env":[]},{"id":"d3be9d57ca62d577","type":"ui_form","z":"66457bfd12437a61","name":"Table booking","label":"","group":"71d015d26b32f30e","order":3,"width":0,"height":0,"options":[{"label":"Enter your full name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Mobile Number","value":"mobile","type":"number","required":true,"rows":null},{"label":"Enter name of Restaurant","value":"name1","type":"text","required":true,"rows":null},{"label":"Enter Date of booking","value":"date","type":"date","required":true,"rows":null},{"label":"Enter number of persons","value":"numb","type":"number","required":true,"rows":null},{"label":"Enter time of booking","value":"time","type":"time","required":true,"rows":null}],"formValue":{"name":"","email":"","mobile":"","name1":"","date":"","numb":"","time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":260,"y":300,"wires":[["1c69dc16047b66c9","71b31f15bfe948d5"]]},{"id":"cfb144d57517c958","type":"cloudant out","z":"66457bfd12437a61","name":"","cloudant":"","database":"tableboo","service":"node-red-pfubk-2021--cloudant-1639299626975-22685","payonly":true,"operation":"insert","x":800,"y":240,"wires":[]},{"id":"1c69dc16047b66c9","type":"function","z":"66457bfd12437a61","name":"","func":"msg.payload={\n    _id: msg.payload.email,\n    Name: msg.payload.name,\n    Email: msg.payload.email,\n    Mobile: msg.payload.mobile,\n    Restaurant name : msg.payload.name1,\n    Booking date : msg.payload.date,\n    Persons : msg.payload.numb,\n    Booking time : msg.payload.time,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":220,"wires":[["cfb144d57517c958"]]},{"id":"79a31e15a32868b7","type":"ui_text","z":"66457bfd12437a61","group":"71d015d26b32f30e","order":4,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":420,"wires":[]},{"id":"71b31f15bfe948d5","type":"function","z":"66457bfd12437a61","name":"","func":"msg.payload = \"Hello \"+msg.payload.name+\". Your table is booked\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["79a31e15a32868b7"]]},{"id":"71d015d26b32f30e","type":"ui_group","name":"Table","tab":"131956ba266627f9","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"131956ba266627f9","type":"ui_tab","name":"Table booking","icon":"dashboard","disabled":false,"hidden":false}]